#countries{
     display: grid;
     grid-template-columns: repeat(3,1fr);
}

.country{
     border: 2px solid blue;
     background-color: cornsilk;
     margin: 20px;
     padding: 10px;
     border-radius: 10px;

}